[user]
	email = ch@christianjaeger.ch
	name = Christian Jaeger

[diff "cj"]
	command = _cj-git-tkdiff

[merge]
	conflictstyle = diff3
	#renameLimit = 2000

[core]
	excludesfile = ~/.gitignore_global

#[gpg]
#	program = gpg+scrypt

#[push]
#	default = simple
# old git can*not* deal with this
